@use "sass:color";
@use "vars" as *;

.btn {
  padding: 1rem 2rem;
  color: white;
  background: $background-accent;
  border: 0;
  border-radius: 0.75rem;
  cursor: pointer;
  appearance: none;

  &:hover {
    background: color.adjust($background-accent, $lightness: -5%);
  }
}
