@use "sass:color";
@use "vars" as *;

.card {
  position: relative;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  border-radius: 0.75rem;

  &-frame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    overflow: hidden;
    background: rgba(color.adjust($background-normal, $lightness: 15%), 0.3);
    cursor: pointer;
    transition: background ease 0.15s;

    @media (--sm-viewport) {
      padding: 1rem;
    }

    &:hover {
      background: rgba(color.adjust($background-normal, $lightness: 25%), 0.3);
    }
  }
}
