@use "vars" as *;

.grid {
  display: grid;
  gap: var(--gutter-width);
  grid-template-columns: repeat(4, 1fr);

  @media (--md-viewport) { grid-template-columns: repeat(3, 1fr); }
  @media (--sm-viewport) { grid-template-columns: repeat(2, 1fr); }


  &-two {
    grid-template-columns: repeat(2, 1fr);
    @media (--md-viewport) { grid-template-columns: repeat(1, 1fr); }
  }

  &-single {
    grid-template-columns: repeat(1, 1fr);
  }
}
