@use "vars" as *;

$icons: "close", "date", "star", "arrow-right", "search", "github";

.icon {
  --icon-size: 1rem;

  display: inline-block;
  flex-shrink: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  background-color: var(--icon-color, $text-color);
  mask-position: center;
  mask-repeat: no-repeat;

  @each $name in $icons {
    &.icon-#{$name} {
      mask-image: url("/src/assets/icons/" + $name + ".svg");
    }
  }
}
