@use "sass:color";
@use "vars" as *;

.text-field {
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem 1.5rem 3.5rem;
  color: inherit;
  background-color: rgba($background-primary, 0.3);
  background-repeat: no-repeat;
  background-position: 1rem 50%;
  border: 1px solid $background-secondary;
  border-radius: 0.75rem;
  outline: none;
  transition: all ease 0.15s;
  appearance: none;

  &:hover,
  &:focus {
    background-color: rgba($background-primary, 0.5);
    border: 1px solid color.adjust($background-secondary, $lightness: 5%);
  }

  &::placeholder {
    color: #475069;
  }
}
